langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-chroma
faiss-cpu
sentence-transformers
pypdf
rank_bm25
streamlit
pandas
python-dotenv
tiktoken
langsmith
ragas
datasets
tabulate